<h1>Nova Turma</h1>

<%= form_with(model: @classroom, local: true) do |f| %>
  
  <div class="mb-3">
    <%= f.label 'Nome', class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.submit "Criar Turma", class: 'btn btn-primary' %>
  </div>
<% end %>