/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #task-text {
  overflow-y: auto; /* Enable vertical scrolling */
}
/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Style table header */
table th {
  padding: 12px;
  text-align: left;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

/* Style table data cells */
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Style alternating rows */
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style hover effect */
table tbody tr:hover {
  background-color: #f2f2f2;
}