/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "custom";

 #task-text {
  overflow-y: auto; /* Enable vertical scrolling */
}
/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Style table header */
table th {
  padding: 12px;
  text-align: left;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

/* Style table data cells */
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Style alternating rows */
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style hover effect */
table tbody tr:hover {
  background-color: #f2f2f2;
}
  /* Adjust the modal content */
  #feedbackModal .modal-content {
    background-color: #fff; /* Set background color */
    padding: 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
  }
  

  /* Style the form elements */
  #feedbackModal label {
    font-weight: bold;
  }

  #feedbackModal input[type="text"],
  #feedbackModal textarea {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #feedbackModal .btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  #feedbackModal .btn-primary:hover {
    background-color: #0056b3;
  }

  /* Style the close button */
  #feedbackModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
  }