.task.progress-red {
  color: red;
}

.task.progress-blue {
  color: rgb(99, 99, 245);
} 

.task.progress-green {
  color: rgb(10, 212, 10);
}

/* Modal */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Position the modal relative to the viewport */
  top: 50%; /* Position the top of the modal 50% from the top of the viewport */
  left: 50%; /* Position the left of the modal 50% from the left of the viewport */
  transform: translate(-50%, -50%); /* Center the modal both horizontally and vertically */
  z-index: 1; /* Set the z-index to make sure the modal appears on top of other content */
  width: 400px; /* Set the width of the modal */
  background-color: white; /* Set the background color of the modal */
  padding: 20px; /* Add padding to the modal content */
  border-radius: 8px; /* Add border radius to the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow to the modal */
}

/* Overlay */
.overlay {
  display: none; /* Hide the overlay by default */
  position: fixed; /* Position the overlay relative to the viewport */
  top: 0; /* Position the top of the overlay at the top of the viewport */
  left: 0; /* Position the left of the overlay at the left of the viewport */
  width: 100%; /* Set the width of the overlay to cover the entire viewport */
  height: 100%; /* Set the height of the overlay to cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color of the overlay with some transparency */
  z-index: 1; /* Set the z-index to make sure the overlay appears on top of other content */
}

/* Modal content */
.modal-content {
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Align items vertically in the center */
  align-items: center; /* Align items horizontally in the center */
  text-align: center; /* Center text within modal content */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.book-page {
  max-width: 80%; /* Limit the width of the book page */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.task-content {
  font-size: 16px;
  color: #333;
  text-align: justify; /* Justify text for a book-like appearance */
  hyphens: auto; /* Enable hyphenation for better word wrapping */
  line-height: 1.6; /* Improve readability with proper line height */
}
.task-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}